@import "tailwindcss";

@layer base {
  :root {
    --font-poppins: var(--font-poppins);
    --font-cabinet: var(--font-cabinet);
  }

  /* Set Poppins as default font for entire body */
  body {
    font-family: var(--font-poppins);
  }
}

.font-cabinet {
  font-family: var(--font-cabinet);
}

/* Cabinet Grotesk Variable */
@font-face {
  font-family: "Cabinet Grotesk Variable";
  src: url("/fonts/CabinetGrotesk-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}
